.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10001;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.popup__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  max-width: 450px;
  width: 90%;
  padding: 25px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transform: perspective(1000px) rotateY(90deg) translateX(100%);
          transform: perspective(1000px) rotateY(90deg) translateX(100%);
}

.popup__content {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.popup__title {
  font-size: 36px;
  font-weight: 700;
}

.popup__text {
  margin: 20px 0px 0px 0px;
  font-size: 20px;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 10px;
  font-weight: 900;
  background: url(../favicon/android-chrome-512x512.png) center/cover no-repeat;
  cursor: pointer;
}

.popup._active {
  visibility: visible;
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transform: perspective(1000px) rotateY(0deg) translateX(0%);
          transform: perspective(1000px) rotateY(0deg) translateX(0%);
}

.footer {
  position: relative;
  background: url(../img/footer/background-min.jpg) center/cover no-repeat fixed;
}

@media (max-width: 992px) {
  .footer {
    background: url(../img/footer/background-min.jpg) center/cover no-repeat fixed;
  }
}

.footer__wrapper {
  margin: 0 auto;
}

.footer__column {
  text-align: center;
}

.footer__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 185px;
  margin: 0 auto;
}

.footer__links:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 2px;
  margin-bottom: -30px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  list-style-type: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
  background-color: #fff;
}

.footer__item img {
  max-width: 100%;
}

.footer__rights {
  margin-top: 55px;
  color: #ffffff;
  font-family: "Chivo", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contact {
  width: 100%;
  background-color: #fff;
}

.contact__wrapper {
  margin: 0 auto;
}

.contact__column {
  text-align: left;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 0 0;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .contact__body {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 650px) {
  .contact__body {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 750px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 20px 0 30px;
}

@media (max-width: 750px) and (min-width: 460px) {
  .contact__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 459px) {
  .contact__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__item {
  position: relative;
  padding: 0 0 35px 0;
}

@media (max-width: 750px) {
  .contact__item {
    padding: 0;
  }
  .contact__item:nth-child(1), .contact__item:nth-child(2) {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 609px) {
  .contact__item:nth-child(2) {
    margin: 0 0 0 30px;
  }
  .contact__item:nth-child(3) {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 459px) {
  .contact__item:nth-child(1), .contact__item:nth-child(2), .contact__item:nth-child(3) {
    margin: 30px 0 0 0;
  }
}

.contact__icon {
  display: block;
  margin: 0px 10px 0px 0px;
  text-align: left;
}

.contact__icon svg {
  width: 32px;
  height: 32px;
}

.contact__icon svg rect {
  stroke-width: 1.5;
}

.contact__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  color: #212222;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 750px) and (min-width: 460px) {
  .contact__subtitle {
    padding: 0 0 20px 30px;
  }
}

.contact__connection {
  color: #212222;
  font-family: "Chivo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contact__forms {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 0 0 20px;
}

@media (max-width: 750px) {
  .contact__forms {
    margin: 0 0 50px 0;
  }
}

.contact__forms textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  padding: 17px;
  margin: 0 0 20px 0;
  outline: 0;
  border-radius: 5px;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  resize: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.contact__forms textarea:focus {
  border: 1px solid #c3c6c9;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px 0;
}

@media (max-width: 609px) {
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.contact__input:nth-child(1) {
  padding: 0 15px 0 0;
}

.contact__input:nth-child(2) {
  padding: 0 0 0 15px;
}

@media (max-width: 609px) {
  .contact__input:nth-child(2n-1) {
    padding: 0 0 20px;
  }
  .contact__input:nth-child(2) {
    padding: 0;
  }
}

.contact__input input {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  outline: 0;
  padding: 15px;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.contact__input input:focus {
  border: 1px solid #c3c6c9;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 459px) {
  .contact__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__button button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 170px;
  height: 44px;
  border: 1.5px solid #000;
  margin: 0 40px 0 0;
  border-radius: 5px;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 459px) {
  .contact__button button {
    margin: 0 0 40px 0;
  }
}

.contact__button p {
  display: block;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact__button p span {
  color: #c0301c;
}

.clients {
  background-color: #e2eef3;
}

.clients__wrapper {
  margin: 0 auto;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
}

.clients__logo {
  margin: 10px 15px;
  cursor: pointer;
}

.clients__slider {
  margin: 70px 0 0 0;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .clients__slider {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 650px) {
  .clients__slider {
    margin: 50px 0 0 0;
  }
}

.clients__item {
  text-align: center;
}

.clients__item p {
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
}

.clients__item h5 {
  margin: 40px 0 0 0;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 20px;
}

.slick-list {
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

.slick-slide {
  height: 100%;
  min-height: 1px;
  outline: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
  list-style-type: none;
}

.slick-dots li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #dddddd;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: #667e9c;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slick-dots li button {
  font-size: 0;
  border: 0;
}

.blog {
  width: 100%;
  background-color: #fff;
}

.blog__wrapper {
  margin: 0 auto;
}

.blog__column {
  text-align: left;
}

.blog__posts {
  margin: 70px 0 0 0;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .blog__posts {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 650px) {
  .blog__posts {
    margin: 50px 0 0 0;
  }
}

.blog__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.blog__item:nth-child(2) {
  margin: 40px 0 0 0;
}

.blog__item:nth-child(1) {
  padding: 0 0 40px 0;
}

.blog__item:nth-child(1):after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

@media (min-width: 992px) {
  .blog__item:hover .blog__name,
  .blog__item:hover .blog__link,
  .blog__item:hover span {
    color: #000;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

@media (max-width: 991px) {
  .blog__item .blog__name,
  .blog__item .blog__link,
  .blog__item span {
    color: #000;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

@media (max-width: 850px) {
  .blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.blog__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.5%;
          flex: 0 0 38.5%;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .blog__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-height: 280px;
  }
}

.blog__image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 91px 31px #000 inset;
          box-shadow: 0px 0px 91px 31px #000 inset;
}

.blog__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0 0 40px;
}

@media (max-width: 850px) {
  .blog__body {
    padding: 0 0 40px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 76px;
  height: 76px;
  border: 2px solid #555555;
  border-radius: 10px;
}

.blog__day {
  color: #777777;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2.4px;
}

.blog__month {
  color: #777777;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.blog__subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0 0 30px;
}

.blog__name {
  padding: 0 0 18px 0;
  color: #555555;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.blog__author {
  color: #777777;
  font-family: "Chivo", serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
}

.blog__author span {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.blog__content {
  padding: 25px 0 0 0;
  color: #555555;
  font-family: "Chivo", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog__link {
  padding: 35px 0 0 0;
  color: #777777;
  font-family: "Chivo", serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.your-project {
  width: 100%;
  background: url(../img/your-project/background-min.jpg) center/cover no-repeat fixed;
}

@media (max-width: 992px) {
  .your-project {
    background: url(../img/your-project/background-min.jpg) center/cover no-repeat fixed;
  }
}

.your-project__wrapper {
  text-align: center;
  margin: 0 auto;
}

.your-project__title {
  padding: 0 20px;
  color: #ffffff;
  font-family: "Chivo", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
}

.your-project__button {
  margin: 70px auto 0 auto;
}

@media (max-width: 900px) {
  .your-project__button {
    margin: 60px auto 0 auto;
  }
}

@media (max-width: 650px) {
  .your-project__button {
    margin: 50px auto 0 auto;
  }
}

.works {
  background-color: #fff;
}

.works__wrapper {
  margin: 0 auto;
}

.works__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0 0 0;
  padding: 0 20px;
  list-style-type: none;
}

@media (max-width: 525px) {
  .works__filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works__item {
  margin: 0 0 0 25px;
  color: #888888;
  font-family: "Chivo", serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 992px) {
  .works__item:hover {
    color: #000;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

.works__item:first-child {
  margin: 0;
}

@media (max-width: 525px) {
  .works__item {
    margin: 0 0 25px 0;
    font-size: 20px;
  }
  .works__item:first-child {
    margin: 0 0 25px 0;
  }
  .works__item:last-child {
    margin: 0;
  }
}

.works__item_active {
  color: #000;
}

.works__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px auto 0 auto;
  text-align: center;
}

@media (max-width: 900px) {
  .works__table {
    margin: 60px auto 0 auto;
  }
}

@media (max-width: 650px) {
  .works__table {
    margin: 35px auto 0 auto;
  }
}

.works__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  border-radius: 10px;
  margin: 15px;
}

@media (min-width: 992px) {
  .works__object:hover {
    -webkit-box-shadow: -10px 0px 20px -7px #888888, 10px 0px 20px -7px #888888;
            box-shadow: -10px 0px 20px -7px #888888, 10px 0px 20px -7px #888888;
  }
}

@media (max-width: 447px) {
  .works__object {
    margin: 10px;
  }
}

.works__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  border-radius: 10px;
  cursor: pointer;
}

.works__image img {
  max-width: 100%;
}

@media (min-width: 992px) {
  .works__image:hover .works__caption {
    visibility: visible;
    opacity: 1;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .works__image:hover .works__subtitle {
    font-size: 20px;
    opacity: 1;
  }
  .works__image:hover .works__filter {
    font-size: 16px;
    opacity: 1;
  }
  .works__image:hover .works__button {
    opacity: 1;
  }
  .works__image:hover .works__button svg {
    -webkit-animation: arrow 0.8s ease-in-out 0s infinite alternate;
            animation: arrow 0.8s ease-in-out 0s infinite alternate;
  }
}

.works__caption {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);
  visibility: visible;
  opacity: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (min-width: 992px) {
  .works__caption {
    visibility: hidden;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);
  }
}

.works__subtitle {
  color: #ffffff;
  font-family: "Chivo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 0;
}

@media (max-width: 991px) {
  .works__subtitle {
    opacity: 1;
    font-size: 20px;
  }
}

.works__filter {
  margin: 16px 0 0 0;
  color: #ffffff;
  font-family: "Chivo", serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.4px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 0;
}

@media (max-width: 991px) {
  .works__filter {
    opacity: 1;
    font-size: 16px;
  }
}

.works__button {
  position: relative;
  width: 100px;
  height: 38px;
  margin: 25px 0 0 0;
  border: #fff 1.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-family: "Chivo", serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.works__button path {
  fill: #fff;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.works__button svg {
  margin: 0px 0px 0px 5px;
}

@media (min-width: 992px) {
  .works__button:hover {
    color: #667e9c;
    background-color: white;
  }
  .works__button:hover svg {
    -webkit-animation: arrow 0.8s ease-in-out 0s infinite alternate;
            animation: arrow 0.8s ease-in-out 0s infinite alternate;
  }
  .works__button:hover path {
    fill: #667e9c;
  }
}

@media (max-width: 991px) {
  .works__button {
    opacity: 1;
  }
  .works__button svg {
    margin: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  to {
    -webkit-transform: translateX(11px);
            transform: translateX(11px);
  }
}

@keyframes arrow {
  from {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  to {
    -webkit-transform: translateX(11px);
            transform: translateX(11px);
  }
}

.about {
  width: 100%;
  background-color: #fff;
}

.about__wrapper {
  margin: 0 auto;
}

.about__column {
  text-align: left;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 70px 0 0 0;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 60px 0 0 0;
  }
  .about__description .about__paragraph--second {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 650px) {
  .about__description {
    margin: 50px 0 0 0;
  }
}

.about__paragraph {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #888888;
  font-family: "Chivo", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about__paragraph--second {
  margin: 0 0 0 30px;
}

.slider {
  margin: 70px 0 0 0;
  position: relative;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 992px) {
  .slider__item:hover .slider__picture img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .slider__item:hover .slider__picture {
    -webkit-box-shadow: 0px 15px 20px -10px #000000;
            box-shadow: 0px 15px 20px -10px #000000;
  }
  .slider__item:hover .slider__picture:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.774)), color-stop(50%, rgba(29, 28, 28, 0.247)), to(rgba(221, 215, 215, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.774) 0%, rgba(29, 28, 28, 0.247) 50%, rgba(221, 215, 215, 0) 100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .slider__item:hover .slider__social {
    bottom: 0;
    z-index: 10;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .slider__item:hover .slider__link {
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.slider__picture {
  position: relative;
  width: 263px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.slider__picture img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider__picture:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (max-width: 991px) {
  .slider__picture:after {
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(49, 47, 47, 0.699)), color-stop(50%, rgba(170, 163, 163, 0)), to(rgba(221, 215, 215, 0.11)));
    background: linear-gradient(0deg, rgba(49, 47, 47, 0.699) 0%, rgba(170, 163, 163, 0) 50%, rgba(221, 215, 215, 0.11) 100%);
  }
}

.slider__social {
  position: absolute;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -10;
  width: 100%;
  height: 40px;
  list-style-type: none;
  visibility: hidden;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (max-width: 991px) {
  .slider__social {
    bottom: 0;
    z-index: 1;
    visibility: visible;
  }
}

.slider__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  visibility: hidden;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider__link:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (min-width: 992px) {
  .slider__link:hover {
    background-color: #667e9c;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

@media (max-width: 991px) {
  .slider__link {
    visibility: visible;
  }
}

.slider__name {
  margin: 20px 0 0 0;
  color: #000;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider__job {
  margin: 15px 0 0 0;
  color: #000;
  font-family: "Chivo", serif;
  font-size: 13px;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 26px;
  height: 26px;
  border: 0;
  outline: 0;
  margin-top: 112px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 10px;
  -webkit-transform: scale(-1.5);
          transform: scale(-1.5);
  background: url(../img/about/Arrow.svg) center no-repeat #fff;
}

.slick-arrow.slick-next {
  right: 10px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: url(../img/about/Arrow.svg) center no-repeat #fff;
}

.slick-slider .slider__picture {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0.7;
}

.slick-active .slider__picture {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.services {
  width: 100%;
  background-color: #eef8fc;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.services__column {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 70px 0 0 0;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .services__cards {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 650px) {
  .services__cards {
    margin: 50px 0 0 0;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 367px;
          flex: 0 1 367px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .services__item:not(:last-child) {
    margin: 0 10px 50px 10px;
  }
}

@media (min-width: 992px) {
  .services__item:hover .services__icon {
    background-color: #667e9c;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .services__item:hover .services__icon path {
    fill: #fff;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
}

.services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.services__icon path {
  fill: #000;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.services__subtitle {
  margin: 30px 0 25px 0;
  color: #212222;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.services__paragraph {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #888888;
  font-family: "Chivo", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.header {
  z-index: 10000;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background: url(../img/header/background.jpg) center/cover no-repeat;
}

@media (max-width: 992px) {
  .header {
    background: url(../img/header/background-min.jpg) center/cover no-repeat;
  }
}

@media (max-height: 430px) {
  .header .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-height: 355px) {
  .header .header__title {
    font-size: 40px;
  }
  .header .header__subtitle {
    margin: 20px 0 0 0;
    font-size: 15px;
  }
  .header .header__button {
    width: 160px;
    padding: 12px 0;
    margin: 40px 0 0 0;
    font-size: 13px;
  }
}

@media (max-height: 300px) {
  .header .header__subtitle {
    margin: 15px 0 0 0;
  }
  .header .header__button {
    margin: 30px 0 0 0;
  }
  .header .header__content {
    padding: 20px;
  }
}

.header__wrapper1-row {
  z-index: 10000;
  width: 100%;
  height: 40px;
  margin: 40px 0px 0px 0px;
}

.header__wrapper2-row {
  z-index: 10000;
  width: auto;
  height: 40px;
  -webkit-transition: background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, padding 0s;
  transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: inherit;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 1230px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__logo {
  position: relative;
  color: #ffffff;
  font-family: "Chivo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  position: relative;
  padding: 0 14px;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.35px;
  list-style-type: none;
  cursor: pointer;
}

.header__link a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 976px) {
  .header__link {
    padding: 0 10px;
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .header__link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .header__link:nth-child(2n + 1):after {
    left: 0;
  }
  .header__link:nth-child(2n):after {
    right: 0;
  }
  .header__link:hover:after {
    bottom: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  text-align: left;
}

.header__title {
  color: #ffffff;
  font-family: "Chivo", sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__subtitle {
  margin: 30px 0 0 0;
  color: #c6dbdb;
  font-family: "Chivo", serif;
  font-size: 20px;
  font-weight: 400;
}

.header__button {
  margin: 50px 0 0 0;
}

.header__menu {
  position: fixed;
  top: 0;
  right: -100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  visibility: hidden;
  z-index: 10;
  padding: 120px 0 0 30px;
  list-style-type: none;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: scroll;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    position: relative;
    width: 35px;
    height: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 101;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    z-index: 101;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .header__burger:before {
    top: 0;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .header__burger:after {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    bottom: 0;
  }
}

.header__burger_active {
  position: fixed;
  right: 20px;
  z-index: 100;
  height: 40px;
}

.header__burger_active:before {
  top: 50%;
  border-radius: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.header__burger_active:after {
  top: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.header__burger_active span {
  top: 50%;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, -webkit-transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s;
  transition: top ease-in-out 0.2s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

@media (max-width: 767px) {
  .header__menu_active {
    right: 0;
    visibility: visible;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
}

.header__item {
  padding: 0 0 25px 0;
  color: #fff;
  font-family: "Chivo", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.header__item a {
  color: #fff;
  text-decoration: none;
}

.fixed .header__wrapper2-row {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 102;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(34, 60, 80, 0.5);
          box-shadow: 0px 15px 20px 0px rgba(34, 60, 80, 0.5);
  -webkit-transition: background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, padding 0s;
  transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, padding 0s, -webkit-box-shadow 0.3s ease-in-out 0s;
}

.fixed .header__wrapper2-row .header__logo,
.fixed .header__wrapper2-row .header__link a {
  color: #000000;
}

.fixed .header__wrapper2-row .header__link:after {
  background-color: #000000;
}

.fixed .header__wrapper2-row .header__burger:before, .fixed .header__wrapper2-row .header__burger:after, .fixed .header__wrapper2-row .header__burger span {
  background-color: #000;
}

.fixed .header__wrapper2-row .header__burger_active:before, .fixed .header__wrapper2-row .header__burger_active:after, .fixed .header__wrapper2-row .header__burger_active span {
  background-color: #fff;
}

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"), url("../fonts/Archivo-SemiBold.ttf") format("truetype"), url("../fonts/Archivo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Archivo-Italic.woff2") format("woff2"), url("../fonts/Archivo-Italic.ttf") format("truetype"), url("../fonts/Archivo-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Archivo-Bold.woff2") format("woff2"), url("../fonts/Archivo-Bold.ttf") format("truetype"), url("../fonts/Archivo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Archivo-Regular.woff2") format("woff2"), url("../fonts/Archivo-Regular.ttf") format("truetype"), url("../fonts/Archivo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chivo';
  src: url("../fonts/Archivo-Medium.woff2") format("woff2"), url("../fonts/Archivo-Medium.ttf") format("truetype"), url("../fonts/Archivo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.wrapper {
  min-width: 320px;
  max-width: 1230px;
  width: 100%;
  min-height: inherit;
  -webkit-transition: 0s;
  transition: 0s;
}

.button {
  width: 180px;
  padding: 15px 0;
  border: #fff 1.5px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media (min-width: 992px) {
  .button:hover {
    color: #000;
    background-color: white;
  }
}

.title {
  padding-left: 20px;
  display: block;
  position: relative;
  color: #000;
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 50px;
  height: 2px;
  margin-bottom: -30px;
  background-color: #000;
}

.text {
  margin-top: 55px;
  padding: 0 20px;
  color: #212222;
  font-family: "Chivo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.padding {
  padding: 100px 0;
}

@media (max-width: 900px) {
  .padding {
    padding: 80px 0;
  }
}

@media (max-width: 650px) {
  .padding {
    padding: 60px 0;
  }
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  visibility: hidden;
}

.page-wrapper {
  min-height: 100vh;
  -webkit-transition: 0s;
  transition: 0s;
}
