.about {
	width: 100%;

	background-color: #fff;

	&__wrapper {
		margin: 0 auto;
	}

	&__column {
		text-align: left;
	}

	&__description {
		display: flex;
		justify-content: space-between;

		width: 100%;
		margin: 70px 0 0 0;
		padding: 0 20px;

		@media (max-width: 900px) {
			flex-direction: column;

			margin: 60px 0 0 0;

			.about__paragraph--second {
				margin: 30px 0 0 0;
			}
		}

		@media (max-width: 650px) {
			margin: 50px 0 0 0;
		}
	}

	&__paragraph {
		flex: 1 1 50%;

		color: #888888;
		font-family: "Chivo", serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	&__paragraph--second {
		margin: 0 0 0 30px;
	}
}

.slider {
	margin: 70px 0 0 0;
	position: relative;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		outline: 0;

		cursor: pointer;

		transition: all 0.3s ease-in-out 0s;

		@media (min-width: 992px) {
			&:hover {
				.slider__picture img {
					transform: scale(1.05);
					transition: all 0.3s ease-in-out 0s;
				}

				.slider__picture {
					// box-shadow: -6px 10px 20px 0px #88888865, 6px 10px 20px 0px #8888885e;
					box-shadow: 0px 15px 20px -10px #000000;
				}

				.slider__picture:after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;
					opacity: 1;

					background: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.774) 0%,
						rgba(29, 28, 28, 0.247) 50%,
						rgba(221, 215, 215, 0) 100%
					);
					transition: all 0.3s ease-in-out;
				}

				.slider__social {
					bottom: 0;
					z-index: 10;

					visibility: visible;

					transition: all 0.3s ease-in-out;
				}

				.slider__link {
					visibility: visible;

					transition: all 0.3s ease-in-out;
				}
			}
		}
	}

	&__picture {
		position: relative;

		width: 263px;
		height: 250px;
		border-radius: 5px;

		overflow: hidden;

		img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
			transition: ease-in-out 0.3s;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			opacity: 0;

			transition: ease-in-out 0.3s;

			@media (max-width: 991px) {
				opacity: 1;
				background: linear-gradient(
					0deg,
					rgba(49, 47, 47, 0.699) 0%,
					rgba(170, 163, 163, 0) 50%,
					rgba(221, 215, 215, 0.11) 100%
				);
			}
		}
	}

	&__social {
		position: absolute;
		bottom: -20%;
		display: flex;
		justify-content: center;
		z-index: -10;

		width: 100%;
		height: 40px;

		list-style-type: none;

		visibility: hidden;

		transition: ease-in-out 0.3s;

		@media (max-width: 991px) {
			bottom: 0;

			z-index: 1;

			visibility: visible;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 30px;
		height: 30px;
		border-radius: 50%;

		visibility: hidden;

		transition: ease-in-out 0.3s;

		&:not(:last-child) {
			margin: 0px 20px 0px 0px;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: rgb(102, 126, 156);
				transition: ease-in-out 0.3s;
			}
		}

		@media (max-width: 991px) {
			visibility: visible;
		}
	}

	&__name {
		margin: 20px 0 0 0;

		color: #000;
		font-family: "Chivo", sans-serif;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__job {
		margin: 15px 0 0 0;

		color: #000;
		font-family: "Chivo", serif;
		font-size: 13px;
		font-weight: 400;
	}
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slick-arrow {
	position: absolute;
	top: 0;
	z-index: 10;

	width: 26px;
	height: 26px;
	border: 0;
	outline: 0;
	margin-top: 112px;
	border-radius: 50%;

	font-size: 0;

	cursor: pointer;
}

.slick-arrow.slick-prev {
	left: 10px;

	transform: scale(-1.5);

	background: url(../img/about/Arrow.svg) center no-repeat #fff;
}

.slick-arrow.slick-next {
	right: 10px;

	transform: scale(1.5);
	background: url(../img/about/Arrow.svg) center no-repeat #fff;
}

.slick-slider {
	.slider__picture {
		transform: scale(0.6);
		opacity: 0.7;
	}
}

.slick-active {
	.slider__picture {
		transform: scale(1);
		opacity: 1;
	}
}